html{
    overflow-x: hidden;
}
.logoimage span{
    font-size: 35px;
    font-weight: 700;
    padding: 10px 0 10px 0;
}
.logoimage{
    font-family: 'Reggae One', cursive;
}
.headerdiv .nava{
    border:1px solid black;
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
}
.headerdiv{

    background-color: #FFE01B;
}
.headerloginbutton{
    background-color: #007C89;
    color: whitesmoke;
}
.headerbutton{
    margin:0 10px 0 60px;
    background-color: #FFE01B;
    width: 110px;;
}
.headerbuttondesign{  
    font-size: 15px;
    font-weight: 700;
    padding: 10px 15px 10px 15px;
    border: 1px solid black;    
    font-family: 'Reggae One', cursive;
}
.headerbuttondesign:hover{
    cursor: pointer;
}
.nav-item{
    font-weight:500 !important;
    margin: 0 5px 0 5px;
    font-family: 'Permanent Marker', cursive;
}
.seconddiv{
    padding-top: 40px;
}
.seconddivpara{
    font-size: 60px;
    font-weight: 500;
    line-height:1.2;
    padding-top: 20px;
    font-family: 'Lobster', cursive;
}
.seconddivimage{
    padding-top: 20px;
    padding-bottom: 50px;
}
.seconddivbuttons .headerbutton{
    margin: 0px;
}
.seconddivbuttons .headerbuttondesign{
    margin-right: 15px;
}
.seconddivbuttons{    
    padding-top: 50px;
}
.forumrow{
    margin: 20px;
    margin-left: 10px;
}

.profilemage{
    background-image: url('h3.jfif');
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    display: block;
}
.profiledivphoto{
    display: flex;
}
.profiledescription p{
    line-height: 0.2;
    font-size: 12px;
    display:block;
    margin: 15px 0 0 0px;
}
.followlink{
    display: block;
    margin-top: 10px;
}
.forumrow .card{
    margin: 20px 0 20px 0;
}
.discussionheading{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
}
.scrollablediv{
    height: 300px;
    position: relative;
}
.industrialnewsheading{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}
.newsfulldiv{
    padding-top: 70px;
    margin: auto;
}
.newscard .card{
    margin: 10px auto 10px auto;
    box-shadow: 7px 9px 27px -9px rgba(97,94,94,0.53);
-webkit-box-shadow: 7px 9px 27px -9px rgba(97,94,94,0.53);
-moz-box-shadow: 7px 9px 27px -9px rgba(97,94,94,0.53);
    border: 2px solid #007C89;
}
.upcoming{
    padding-top: 40px;
}
footer div a{
    color: whitesmoke;
}
#div1{
   
    border: 2px solid black;
    border-right:none ;
}
#div2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#div2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#div2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #007C89;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}
.threadsdiv{
    display: flex;
    padding: 5px 20px 5px 0px;
    font-weight: 500;
}
.threadsdiv p{
    padding: 0 20px 0 20px;
}
.thirddiv{
    font-family: 'Roboto Slab', serif;
}
.card-title{
    font-weight: bolder;
}



@import url(https://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 450px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0px auto;
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;

}
#login-modal{
    margin-top: 200px;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.login-btn {
  text-align:center;
  margin-top: 50px;
}





  
  
@media(max-width:612px){
    body{
        overflow-x: hidden;
    }
    .profilemage{
        display: none;
    }
}